.card{
    min-height: 250px !important;
    text-align: center;
    margin: 10px 0;
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#emailModal, #userModal{
    padding: 0 20px;
}
.containerComent{
    padding: 20px;
}
#commentModal p:first-child{
    padding: 40px 0 0px 0;
}

#commentModal p{
    padding: 5px 0;
}